:root[data-theme='light'] {
	--background: #f2f2f2;
	--backgroundAccent: white;
	--colorPrimary: #272727;
	--colorSecondary: #272727;
	--colorAccent: #272727;
	--toggle-bg: #CFCFCF;
}

:root[data-theme='dark'] {
	--background: #272727;
	--backgroundAccent: #191919;
	--colorPrimary: white;
	--colorSecondary: white;
	--colorAccent: white;
	--toggle-bg: #666666;
}

:root{
	--fontSize-h1: 22px;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: poppins, sans-serif;
}

body{
	margin: 90px 0px 0px 240px;
	background-color: var(--background);
}


/* Header _____________________________ */
.header{
	position: fixed;
	top: 0px;
	left: 240px;
	right: 0px;
	height: 70px;
	z-index: 1;
	box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
	background-color: var(--backgroundAccent);
	display: flex;
	justify-content: right;
	padding: 0px 20px 0px 20px;
}
/* Toggle ______________ */
.switcher {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.switcher_checkbox {
  display: none;
}
.switcher_label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switcher_label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 34px;
  background-color: darkgray;
  border-radius: 34px;
  transition: background-color 0.3s;
}
.switcher_label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
.switcher_checkbox:checked + .switcher_label::before {
  background-color: #383838;
}
.switcher_checkbox:checked + .switcher_label::after {
  transform: translateX(26px);
}
/* Toggle End ______________ */

/* Header End _____________________________ */

/* SideBar _____________________________ */
.sidebar{
	background-color: var(--backgroundAccent);
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 240px;
	box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
}
.sidebar__title-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.sidebar_icon{
	cursor: pointer;
}
.sidebar__title{
	color: var(--colorPrimary);
	font-size: var(--fontSize-h1);
	cursor: pointer;
}
.sidebar__span{
	color: var(--colorAccent);
}
.sidebar__menu{
	margin-top: 20px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.sidebar__link{
	display: flex;
	cursor: pointer;
	border-radius: 8px;
	padding: 10px 14px;
	font-size: 18px;
	color: var(--colorPrimary);
	text-decoration: none;
}
.sidebar__icon{
	margin-right: 10px;
}
.sidebar__link:hover{
	background-color: var(--background);
}
.sidebar__link_active{
	background-color: var(--background);
}
/* end _____________________________ */

/* Main ____________________________ */
.main{
	margin: 20px;
}
.main__section{

}
/* Sections */
.section{
	display: none;
}
.sidebar_menu{
	list-style-type: none;
}
.active{
	display: block;
}
/* Section End _____________________ */

/* Tasks */
.section__title{
	margin-bottom: 20px;
	color: var(--colorPrimary);
}
.tasks{
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.tasks__container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--backgroundAccent);
	border-radius: 10px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	transition: transform 0.1s;
	padding: 8px 16px;
	cursor: pointer;
}
.tasks__container:hover{
	transform: translateY(-0.05em);
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}
.tasks__text{
	border-radius: 8px 0px 0px 8px;
	cursor: pointer;
	transition: transform 0.2s;
	flex: 1;
}
.tasks__description{
	font-size: var(--p-fs-md);
}
.tasks__settings{
	cursor: pointer;
}
.tasks__title-container{
	display: flex;
	align-items: center;
	gap: 30px;
}
.tasks__date{
	color: gray;
	font-size: 14px;
}
.tasks__title{
	color: var(--colorPrimary);
}
.tasks__description{
	color: var(--colorPrimary);
}
/* Settings ________________________ */
.section__settings{
	padding: 20px;
}
.settings{
	background-color: white;
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	gap: 4px;
}
.settings__add,
.settings__select{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6px;
	border: none;
	border-radius: 8px;
	padding: 6px 10px;
	cursor: pointer;
}
/* Settings End _____________________ */


	/* TASKS */
	.twoColoumn{
		display: flex;
		column-gap: 20px;
	}
	.tasks_block, .completedTasks_block{
		width: 600px;
		margin-bottom: 20px;
	}
	.tasks_block h1, .completedTasks_block h1{
		font-size: var(--h1-md);
		margin-bottom: 8px;
		margin-left: 10px;
	}
	.tasks_container, .complitiedTasks_container{
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	

	
	.delete{
		color: white;
		border: none;
		border-radius: 0px 4px 4px 0px;
		padding: 6px 18px;
		cursor: pointer;
		background-color: brown;
		height: 100%;
		font-size: var(--h4-fs);
	}

	/* POPUP */
	.popup_block{
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	.displayBlock{
		display: block;
	}
	.popup_container{
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translateY(-50%);
		transform: translateX(-50%);
		background-color: white;
		border-radius: 8px;
		padding: 12px;
	}
	.popup_container p{
		font-size: var(--p-fs-md);
	}
	.popup_title{
		display: flex;
		justify-content: space-between;
		column-gap: 32px;
		align-items: top;
		margin-bottom: 10px;
	}
	.popup_title h2{
		font-size: var(--h2-fs);
	}
	.popup_title h3{
		cursor: pointer;
		font-size: var(--h3-fs);
	}
	.popup_buttons{
		margin-top: 16px;
		display: flex;
		justify-content: center;
		column-gap: 4px;
	}
	.take, .cancel{
		color: white;
		border: none;
		border-radius: 4px;
		padding: 6px 18px;
		cursor: pointer;
		font-size: var(--p-fs-sm);
	}
	.take{
		background: linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(66, 141, 0, 1) 100%);}
	.cancel{
		background-color: gray;
	}
	

	/* ADD TASK */
	.addTasks_block{
		border-radius: 8px;
		padding: 12px;
		width: 300px;
		box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
	}
	.addTasks_block h1{
		margin-bottom: 14px;
		font-size: var(--h1-fs);
	}
	.addTasks_container input{
		display: block;
		border: none;
		border-bottom: 1px solid;
		margin-bottom: 20px;
		/* height: 40px; */
		font-size: var(--p-fs-md);
		padding: 8px;
		outline: none;
	}
	.addTasks_container label{
		display: block;
	}
	.add, .clear{
		color: white;
		border: none;
		border-radius: 4px;
		padding: 6px 18px;
		cursor: pointer;
		font-size: var(--p-fs-md);
	}
	.add{
		background: linear-gradient(90deg, rgba(76, 175, 80, 1) 0%, rgba(66, 141, 0, 1) 100%);
	}
	.clear{
		background-color: gray;
	}

/* Other popup */
.popup{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 2;
}
.popup__container{
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 20px;
	width: 720px;
}
.popup__upper-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.popup__title-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}
.popup__information-container{
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: space-between;
	gap: 10px;
}
.popup__information{
	display: flex;
	flex-direction: row;
	align-items: start;
	gap: 8px;
}
.popup__save,
.popup__close,
.popup__edit{
	cursor: pointer;
}
.popup__edit{
	margin-left: 8px;
}
.popup__calendar{
	width: 100%;
	border: none;
	outline: none;
	text-align: center;
}
.popup__title-input{
	border: none;
	outline: none;
	font-size: 22px;
	font-weight: bold;
}
.popup__description-input{
	display: none;
	border: none;
	outline: none;
}
/* end _______ */